.error-message {
    padding: 5px;
    background-color: #ff8e86; /* Red */
    color: white;
    margin-bottom: 3px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}