/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
    display: flex;   
    flex-direction: column;
}

.input-100 {
    width: 100%;
}

.header {
    padding-bottom: 1em;
}

.hide-it {
    display: none; 
}